{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <form action="/results">
        <label for="date">Enter the date of the reservation you would like:</label>
        <input type="date" name="date" id="date">

        <br>

        <label for="start-time">Earliest possible time:</label>
        <!-- hour -->
        <select id="start-time-hour" name="start-time-hour">
            {% for i in range(1, 13) %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <!-- minute -->
        <select id="start-time-minute" name="start-time-minute">
            <option value="00">00</option>
            <option value="30">30</option>
        </select>
        <select id="start-am-pm" name="start-am-pm">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>

        <br>

        <label for="end-time">Latest possible start time:</label>
        <!-- hour -->
        <select id="end-time-hour" name="end-time-hour">
            {% for i in range(1, 13) %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <!-- minute -->
        <select id="end-time-minute" name="end-time-minute">
            <option value="00">00</option>
            <option value="30">30</option>
        </select>
        <select id="end-am-pm" name="end-am-pm">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>

        <br>

        <button type="submit" id="search-btn">Search</button>

    </form>

    <div id="search-results"></div>
{% endblock %}