{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <form>
        <label for="date">Enter the date of the reservation you would like:</label>
        <input type="date" name="date" id="date">

        <br>

        <label for="start-time">Start time:</label>
        <select id="start-time">
            {% for i in range(1, 13) %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>

        <br>

        <label for="end-time">End time:</label>
        <input type="time" value="08:00:00" step="1800" name="end-time" id="end-time">

        <br>

        <button type="submit" id="search-btn">Search</button>

    </form>

    <div id="search-results"></div>
{% endblock %}