{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/sign-in.css">
{% endblock %}

{% block body %}
    <body class="text-center">
        
        <main class="form-signin w-100 m-auto">
            <img src="" alt="logo" id="logo">

            <section id="login">
                <form action="/login" method="POST">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        <label for="username">Username</label>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </form>
            </section>
        </main>
    </body>
{% endblock %}